*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper
{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #24AE65;
    /* padding-left: 20px; */
    z-index: 9999999999999999999999999999999999999999;
}

.wrapper h1
{
    font-size: var(--big-font-size);
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 2px #101010;
}

.img
{
    width: 60%;
    height: 90%;
    background-image: url("./portimt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #101010;
}

.left
{
    align-self: flex-start;
}

.right
{
    text-align: right;
}

.wrapper2
{
    display: none;
}

@media screen and (max-width: 460px) {
    .wrapper
    {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: none;
    }
    .wrapper2
    {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: #24AE65;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }

    .wrapper2 h1
    {
        font-size: var(--medium2-font-size);
        font-weight: 700;
        color: white;
        -webkit-text-stroke: 1px #101010;
    }

    .probl2
    {
        text-align: center;
    }

    .img2
    {
        width: 100%;
        height: 100%;
        background-image: url("./portimt.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .left2
    {
        align-self: flex-start;
    }

    .right2
    {
        text-align: right;
    }

}