* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 400vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.projectTemplate {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheading {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--big2-font-size);
    font-weight: 700;
    text-transform: uppercase;
    z-index: -1;
    color: #f5f5f5;
    -webkit-text-stroke: 3px black;
}

.el {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgcontainer {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.imgcontainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    font-size: var(--normal-font-size);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    z-index: 1;
}

.projectTemplate img {
    width: 30%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.spacer {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: var(--medium2-font-size);
    font-weight: 700;
    color: black;
    text-align: justify;
    margin: 20px;
}

.text p {
    margin-bottom: 10px;
}

.titleg {
    display: flex;
    font-size: var(--normal-font-size);
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    color: black;
    text-transform: uppercase;
}

.gallerycontainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.galleryimg {
    height: 50vh;
    width: 50%;
}

.galleryimg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projectTemplate2 {
    display: none;
}

.spacer2 {
    display: none;
}

.gallery {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex-direction: column;
}

.img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
}

.img:nth-child(odd) .content {
    flex-direction: row;
}

.img:nth-child(even) .content {
    flex-direction: row-reverse;
}

.textp {
    color: white;
    font-size: var(--medium2-font-size);
    font-weight: 700;
    width: 100%;
    max-width: 50%;
    margin: 20px;
}

.gallery img {
    object-fit: cover;
    max-width: 50%;
}

@media screen and (max-width: 460px) {
    .wrapper {
        height: 250vh;
        width: 100%;
    }

    .projectTemplate {
        display: none;
    }

    .spacer {
        display: none;
    }

    .projectTemplate2 {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projectTemplate2 img {
        width: 100%;
        height: auto;
    }

    .subheading {
        font-size: var(--medium2-font-size);
        -webkit-text-stroke: 2px #101010;
    }

    .spacer2 {
        width: 100%;
        height: 300vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .textp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--small-font-size);
        width: 100%;
        max-width: 100%;
        margin-left:50px;
        margin-right:50px;
    }

    .gallery
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }

    .img
    {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 1rem;
    }

    .content
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .img img
    {
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1024px)
{
    .subheading
    {
        font-size: var(--paralax-font-size);
    }

    .imgcontainer
    {
        width: 70%;
        height: 100%;
    }

    .imgcontainer img
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .textp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--medium2-font-size);
        width: 100%;
        max-width: 100%;
        margin-left:50px;
        margin-right:50px;
    }
}